@import url("../../index_style.css");

body {
  margin: 0;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding-top: 2vw;
  overflow: hidden;
}

#section0 {
  position: absolute;
  height: 74vw;
}

#imac_wrapper {
  position: absolute;
  top: 15vw;
  left: 50%;
  width: 70vw;
  height: 57vw;
  transform: translateX(-50%);
  overflow: hidden;
}

#imac {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.input_wrapper {
  position: absolute;
  top: 10%;
  font-family: Nunito;
  font-size: 1.3vw;
  color: #444444;
  transform: translate(-50%, -50%);
}

.input_button {
  position: absolute;
  top: 130%;
  left: 50%;
  width: 5vw;
  height: 150%;
  font-family: Nunito;
  font-size: 1.3vw;
  color: #fafafa;
  background-color: #5489B0;
  border-radius: 2vw;
  text-align: center;
  transform: translateX(-50%);
  cursor: pointer;
  user-select: none;
  box-shadow: .1vw .1vw .8vw #aaaaaa;
}

#input_button_countries {
  transition: width .5s, height .5s;
}

#input_button_kilometers {
  transition: width .5s, height .5s;
}

#input_wrapper_0 {
  left: 35%;
}

#input_wrapper_1 {
  left: 65%;
}

#countries_placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#kilometers_placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8vw;
}

.item_countries {
  font-family: Nunito;
  font-size: 1.3vw;
  color: #fafafa;
  width: 100%;
  top: 0;
  text-align: center;
  padding: .8vw 0;
  user-select: none;
  display: none;
}

.item_countries:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #444444;
}

#countries_denmark {
  border-radius: 2vw 2vw 0 0;
}

#countries_germany {
  border-radius: 0 0 2vw 2vw;
}

.item_kilometers {
  font-family: Nunito;
  font-size: 1.3vw;
  color: #fafafa;
  width: 100%;
  top: 0;
  text-align: center;
  padding: .8vw 0;
  user-select: none;
  display: none;
}

.item_kilometers:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #444444;
}

#kilometers_0 {
  border-radius: 2vw 2vw 0 0;
}

#kilometers_1 {
  border-radius: 0 0 2vw 2vw;
}
