@font-face {
  font-family: MontserratLight;
  src: url(fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratMedium;
  src: url(fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: Merriweather;
  src: url(fonts/Merriweather/Merriweather-Regular.ttf);
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vw;
}

h1 {
  font-family: MontserratMedium;
  font-size: 1.5vw;
  text-align: center;
  color: #444444;
}

h2 {
  font-family: MontserratLight;
  font-size: 1vw;
  text-align: center;
  color: #888888;
}

p {
  font-family: MontserratLight;
  font-size: 1.3vw;
  text-align: center;
  color: #444444;
}

#alerts {
  position: fixed;
  top: 2.4vw;
  transform: translateX(calc(50vw - 50%));
  background-color: #dddddd;
  padding: 1vw 2vw;
  border-radius: 10vw;
  opacity: 0;
  transition: opacity .5s;
  font-family: Montserrat;
  color: #444444;
  box-shadow: 0px 0px 10px #444444;
  z-index: 5;
  display: none;
}

#menu_bar {
  position: absolute;
  top: 2vw;
  left: 0;
  right: 0;
  height: 5vw;
  background-color: #284E76;
  z-index: 4;
  box-shadow: 0 .8vw 2vw -1vw #444444;
}

#menu_bar_logo {
  position: absolute;
  top: 50%;
  left: 10vw;
  height: 3vw;
  transform: translateY(-50%);
  cursor: pointer;
}

.menu_bar_item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Merriweather;
  font-size: 1.1vw;
  color: #dddddd;
  cursor: pointer;
  transform: scale(1) translate(-50% -50%);
  transition: transform .2s;
}
.menu_bar_item:hover {
  color: #ffffff;
  transform: scale(1.1) translateY(-50%);
}
.menu_bar_item_active {
  color: #ffffff;
  transform: scale(1.1) translateY(-50%);
}

#menu_bar_projects {
  right: 52%;
}

#menu_bar_about {
  left: 52%;
}

#menu_bar_line {
  position: absolute;
  top: 70%;
  left: calc(52% - .2vw);
  right: calc(48% - 5.4vw);
  height: .1vw;
  background-color: #dddddd;
  border-radius: 1vw;
  transition: all .3s;
}

#cv {
  position: absolute;
  top: 12vw;
  left: 50%;
  transform: translateX(-50%);
  width: 58.4vw;
  height: calc(58.4vw * 1.41);
  background-color: #fefefe;
  transition: left .5s;
  box-shadow: 0.6vw 0.83vw 1.19vw #aaaaaa;
}

.project {
  position: absolute;
  left: 10vw;
  width: 80vw;
  transform: translateX(-100vw);
  transition: transform .5s, opacity .5s;
  height: 30vw;
}

.project_img_even {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #666666;
}

.project_box_even {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30vw;
  background-color: #eeeeee;
  padding-top: 12vw;
  box-sizing: border-box;
  cursor: pointer;
}

.project_hover_even {
  display: none;
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50vw;
  opacity: .5;
  cursor: pointer;
}

.project_img_uneven {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #666666;
}

.project_box_uneven {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 30vw;
  background-color: #eeeeee;
  padding-top: 12vw;
  box-sizing: border-box;
  cursor: pointer;
}

.project_hover_uneven {
  display: none;
  position: absolute;
  background-color: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50vw;
  opacity: .5;
  cursor: pointer;
}

.project_heading {
  font-family: MontserratMedium;
  font-size: 1.5vw;
  text-align: center;
  color: #444444;
  padding-bottom: .5vw;
}

.project_subheading {
  font-family: MontserratLight;
  font-size: 1vw;
  text-align: center;
  color: #888888;
}

#project0 {
  top: 12vw;
}

#project1 {
  top: 44vw;
}

.project_content {
  position: absolute;
  top: 10vw;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  display: none;
  transition: opacity .5s;
  overflow: hidden;
}

#project1_content {
  height: 62vw;
}

#adam1 {
  position: absolute ;
  top: 10vw;
  left: 0;
  width: 80vw;
  height: 45vw;
  transition: transform .5s;
  border-radius: 2vw;
}

#toggle_container {
  position: absolute;
  top: 57vw;
  left: 50%;
  width: 22vw;
  height: 4vw;
  transform: translateX(-50%);
  background-color: #5EBD9C;
  border-radius: 10vw;
  transition: background-color .5s;
}

.toggle_stage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Nunito;
  font-size: 1.5vw;
  color: #ffffff;
  cursor: pointer;
}

#toggle_stage1 {
  left: 2vw;
}

#toggle_stage2 {
  right: 2vw;
}

#toggle_button {
  position: absolute;
  top: .4vw;
  height: 3.2vw;
  border-radius: 10vw;
  background-color: #ffffff;
  filter: drop-shadow(.1vw .1vw .3vw rgb(0 0 0 / 0.2));
  font-family: Nunito;
  font-size: 1.5vw;
  color: #444444;
  box-sizing: border-box;
  padding: .6vw 1.6vw;
  cursor: default;
  transform: translateX(.4vw);
  transition: transform .5s;
}
