@font-face {
  font-family: MontserratLight;
  src: url(fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratMedium;
  src: url(fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: Merriweather;
  src: url(fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
  font-family: FreightNeoPro;
  src: url(fonts/FreightNeoPro/FreightNeoProLight.otf);
}

@font-face {
  font-family: DKLemonYellowSun;
  src: url(fonts/DKLemonYellowSun/DKLemonYellowSun.otf);
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100vw;
}

h1 {
  font-family: FreightNeoPro;
  font-size: 3vw;
  color: #444444;
  text-align: center;
}

h2 {
  font-family: FreightNeoPro;
  font-size: 1.5vw;
  font-weight: bolder;
  color: #444444;
  text-align: center;
}

p {
  font-family: FreightNeoPro;
  font-size: 1.5vw;
  color: #888888;
  line-height: 2vw;
  text-align: center;
  margin: 0 25vw 0 25vw;
}

li {
  font-family: FreightNeoPro;
  font-size: 1.5vw;
  color: #888888;
  line-height: 2vw;
  padding: 0 0 1vw 1vw;
}

#alerts {
  position: fixed;
  top: 2.4vw;
  transform: translateX(calc(50vw - 50%));
  background-color: #dddddd;
  padding: 1vw 2vw;
  border-radius: 10vw;
  opacity: 0;
  transition: opacity .5s;
  font-family: Montserrat;
  color: #444444;
  box-shadow: 0px 0px 10px #444444;
  z-index: 5;
  display: none;
}

#menu_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5vw;
  background-color: #1C1F22;
  z-index: 4;
  transition: all .4s;
}

#menu_bar_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3.5vw;
  transform: translate(-50%, -50%);
  cursor: pointer;
  filter: brightness(100);
}

.menu_bar_item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: MontserratMedium;
  font-size: 1.1vw;
  color: #ffffff;
  cursor: pointer;
  transform: scale(1) translate(-50% -50%);
  transition: transform .2s, color .4s;
}
.menu_bar_item:hover {
  color: #ffffff;
  transform: scale(1.1) translateY(-50%);
}
.menu_bar_item_active {
  color: #ffffff;
  transform: scale(1.1) translateY(-50%);
  font-weight: bold;
}

#menu_bar_projects {
  left: 5vw;
}

#menu_bar_about {
  left: 12vw;
}

#menu_bar_line {
  position: absolute;
  top: 70%;
  left: 11.8vw;
  right: 84.4vw;
  height: .1vw;
  background-color: #eeeeee;
  border-radius: 1vw;
  transition: all .3s;
}

.menu_bar_icon {
  position: absolute;
  bottom: 2vw;
  height: 1vw;
  transition: all .3s;
  cursor: pointer;
  filter: brightness(100);
}

#menu_bar_facebook {
  right: 5vw;
}

#menu_bar_linkedin {
  right: 7vw;
}

#scroll_header {
  position: fixed;
  top: 5vw;
  left: 0;
  width: 100vw;
  height: 38vw;
  overflow: hidden;
}

#scroll_header_img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100vw;
  transform: translateY(-50%);
}

#scroll_header_over {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  background-color: #222222;
}

.scroll_header_text {
  position: absolute;
  color: #ffffff;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

#scroll_header_text_header {
  font-family: MontserratMedium;
  font-weight: bold;
  font-size: 5vw;
  top: 5vw;
}

#scroll_header_text_sub {
  font-family: MontserratMedium;
  font-size: 2vw;
  top: 11vw;
  width: 42vw;
  line-height: 3vw;
}

#scroll_header_text_subsub {
  font-family: MontserratLight;
  font-size: 1.5vw;
  top: 21vw;
  width: 50vw;
}

#scroll_header_arrow {
  top: 28vw;
  width: 3.5vw;
  cursor: pointer;
  transition: top .2s;
}

#scroll_header_arrow:hover {
  top: 28.5vw;
}

#scroll_header_bg {
  position: absolute;
  top: 0;
  left: -9vw;
  width: 40vw;
  height: 40vw;
  opacity: .5;
}

#scroll_header_bg_move1 {
  animation: rotation 40s infinite linear;
}

#scroll_header_bg_move2 {
  animation: rotation 70s infinite linear;
}

#scroll_header_bg_move3 {
  animation: rotation 130s infinite linear;
}

#scroll_header_bg_move4 {
  animation: rotation 100s infinite linear;
}

#scroll_header_bg_move5 {
  animation: rotation 300s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.scroll_header_bg_element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#content {
  position: absolute;
  top: 38vw;
  left: 0;
  right: 0;
  height: 100vw;
  background-color: #ffffff;
}

#cv {
  position: absolute;
  top: 5vw;
  left: 50%;
  transform: translateX(-50%);
  transition: transform .5s;
  width: 58.4vw;
  height: calc(58.4vw * 1.41);
  background-color: #fefefe;
  box-shadow: 0.6vw 0.83vw 1.19vw #aaaaaa;
  border: none;
}

.project {
  position: absolute;
  left: 10vw;
  width: 80vw;
  transform: translateX(-100vw);
  transition: transform .3s, background-color .3s;
  height: 30vw;
  background-color: #eeeeee;
  cursor: pointer;
  overflow: hidden;
}

.project_img_even {
  position: absolute;
  left: 0;
  top: 0;
  width: 54vw;
  background-color: #666666;
}

.project_hover_even {
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 0;
  bottom: 0;
  width: 54vw;
  opacity: 0;
  cursor: pointer;
  transition: opacity .3s;
}

.project_heading_even {
  position: absolute;
  font-family: MontserratMedium;
  font-size: 1.5vw;
  color: #444444;
  right: 12.5vw;
  top: 12vw;
  transform: translateX(50%);
  transition: color .3s;
}

.project_subheading_even {
  position: absolute;
  font-family: MontserratLight;
  font-size: 1vw;
  color: #888888;
  right: 12.5vw;
  top: 15vw;
  transform: translateX(50%);
}

.project_img_uneven {
  position: absolute;
  right: 0;
  top: 0;
  width: 54vw;
}

.project_hover_uneven {
  position: absolute;
  background-color: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  width: 54vw;
  opacity: 0;
  cursor: pointer;
  transition: opacity .3s;
}

.project_heading_uneven {
  position: absolute;
  font-family: MontserratMedium;
  font-size: 1.5vw;
  color: #444444;
  left: 12.5vw;
  top: 12vw;
  transform: translateX(-50%);
  transition: color .3s;
}

.project_subheading_uneven {
  position: absolute;
  font-family: MontserratLight;
  font-size: 1vw;
  color: #888888;
  left: 12.5vw;
  top: 15vw;
  transform: translateX(-50%);
}

#project0 {
  top: 5vw;
}

#project1 {
  top: 38vw;
}

.project_content {
  position: absolute;
  top: 5vw;
  left: 0;
  width: 100vw;
  display: none;
  opacity: 0;
  transition: opacity .5s;
  background-color: #ffffff;
  border: none;
  overflow: hidden;
}

#project0_content {
  height: 218vw;
}
