@import url("../../index_style.css");

@keyframes spin {
  from { transform: rotate(0); }
  to{  transform: rotate(359deg); }
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding-top: 2vw;
  overflow: hidden;
}

#section0 {
  position: absolute;
  height: 56vw;
}

#cad_viewer {
  position: absolute ;
  top: 15vw;
  left: 50%;
  width: 70vw;
  height: 35vw;
  transform: translateX(-50%);
  overflow: hidden;
  background-color: #fafafa;
  border: 0.1vw solid #eeeeee;
  border-radius: 2vw;
}

#cane_model {
  position: absolute;
  top: 0;
  left: 0;
  width: 55vw;
  height: 35vw;
}
#cane_model:focus {
  outline: none;
}
#cane_model:focus-visible {
  outline: none;
}

#cad_options {
  position: absolute ;
  top: 0;
  right: 0;
  width: 15vw;
  height: 35vw;
  overflow: hidden;
  border-left: 0.1vw solid #eeeeee;
  background-color: #fdfdfd;
}

#loading_box {
  position: absolute;
  top: 5vw;
  left: 27.5vw;
  transform: translateX(-50%);
  font-family: Nunito;
  font-size: 1.5vw;
  background-color: #464e5e;
  border-radius: 10vw;
  padding: 1vw 1.5vw;
  color: #ffffff;
  transition: opacity 1s;
}

.toggle_container {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.4vw;
  height: 1.5vw;
  border-radius: 10vw;
  background-color: #5EBD9C;
  filter: drop-shadow(.1vw .1vw .3vw rgb(0 0 0 / 0.2));
  cursor: pointer;
  transition: background-color .2s;
}

.toggle_button {
  position: absolute;
  top: .15vw;
  left: .1vw;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  background-color: #ffffff;
  transition: transform .2s;
}

.cad_option {
  position: absolute;
  left: 1vw;
  width: 13vw;
  font-family: Nunito;
  font-size: 1.2vw;
  color: #444444;
}

#auto_rotate {
  top: 3vw;
}

#original_pos {
  top: 6vw;
}

#pan {
  top: 28vw;
}

#section1 {
  position: absolute;
  top: 58vw;
  background-color: #fafafa;
  height: 42vw;
}

#notebook_frame {
  position: absolute ;
  top: 5vw;
  left: 70vw;
  width: 40vw;
  height: 34vw;
  transform: translateX(-50%) rotate(10deg);
  overflow: hidden;
}

#notebook {
  position: absolute ;
  top: 0;
  left: 10%;
  width: 90%;
  pointer-events: none;
}

#notes_heading {
  position: absolute ;
  top: 8.1vw;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2.5vw;
  font-family: Caveat;
  color: #555555;
}

#notes {
  position: absolute ;
  top: 11.8vw;
  left: 8vw;
  width: 60vw;
  text-align: left;
}

li {
  padding: 0 0 0vw 0.2vw;
  font-family: Caveat;
  font-size: 1.6vw;
  color: #666666;
  line-height: 1.9vw;
}

#section1_text {
  position: absolute ;
  top: 10vw;
  left: 18vw;
  width: 34vw;
  text-align: left;
  margin: 0;
}

#section2 {
  position: absolute ;
  top: 102vw;
  height: 40vw;
}

#section2_text {
  position: absolute ;
  top: 5vw;
  left: 45vw;
  width: 37vw;
  text-align: left;
}

#section2_h2 {
  text-align: left;
}

#section2_p {
  text-align: left;
  margin: 0;
}

#cane_animation_force_container {
  position: absolute ;
  top: 0;
  left: 15vw;
  width: 30vw;
  height: 35vw;
}

#cane_static {
  position: absolute ;
  top: 24vw;
  left: 2.53vw;
  width: 20.73vw;
}

#cane_dynamic {
  position: absolute ;
  top: 0vw;
  left: -2.53vw;
  width: 30.5vw;
  transform: translateY(-1vw);
  transition: 1s linear;
}

@keyframes spring {
  from {transform: translateY(-1vw);}
  to {transform: translateY(0vw);}
}

#cane_animation_force_boundingbox {
  position: absolute ;
  top: 8.15vw;
  left: 3.16vw;
  width: 19.5vw;
  height: 19.5vw;
  border-radius: 50%;
  overflow: hidden;
  transform: translateZ(0);
}

#cane_animation_force {
  position: absolute ;
  top: -36%;
  left: -107%;
  width: 314%;
}

#magnifying_glass {
  position: absolute ;
  top: 5vw;
  right: 4.25vw;
  width: 157%;
}

#animation_force_play_state {
  position: absolute ;
  top: 36vw;
  left: 6vw;
  width: 12vw;
  font-family: Nunito;
  font-size: 1.2vw;
  color: #666666;
}

#section3 {
  position: absolute;
  top: 144vw;
  height: 65vw;
  background-color: #fafafa;
}

#section3_text {
  position: absolute;
  top: 5vw;
}

#scroll_arrow {
  position: absolute;
  top: 25vw;
  width: 3.5vw;
  left: 48.25vw;
  cursor: pointer;
  transition: top .2s;
  animation: bounce 1s infinite;
}
#scroll_arrow:hover {
  top: 25.2vw;
}

@keyframes bounce {
  0%   {transform: translateY(0vw);}
  30%   {transform: translateY(-1vw);}
  60%   {transform: translateY(-0.2vw);}
  100%   {transform: translateY(0vw);}
}

#cane_animation_foot {
  position: absolute ;
  bottom: 16.8vw;
  left: 32vw;
  width: 36vw;
  transform-origin: bottom center;
  transform: scaleY(0);
  transition: transform 1s;
}

#canvas_base {
  position: absolute;
  bottom: 4vw;
  left: 30vw;
  width: 40vw;
}

#canvas_top {
  position: absolute;
  bottom: 18vw;
  left: 30vw;
  width: 40vw;
  transition: transform 1s;
}

#canvas_screen {
  position: absolute;
  bottom: 16.9vw;
  left: 32vw;
  width: 36vw;
  transform-origin: bottom center;
  transform: scaleY(0.06);
  transition: transform 1s;
}
