@import url("../../index_style.css");

@keyframes spin {
  from { transform: rotate(0); }
  to{  transform: rotate(359deg); }
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding-top: 2vw;
  overflow: hidden;
}

#section0 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  height: 56vw;
}

#cad_viewer {
  position: absolute ;
  top: 15vw;
  left: 50%;
  width: 70vw;
  height: 35vw;
  transform: translateX(-50%);
  overflow: hidden;
  background-color: #fafafa;
  border: 0.1vw solid #eeeeee;
  border-radius: 2vw;
}

#cane_model {
  position: absolute;
  top: 0;
  left: 0;
  width: 55vw;
  height: 35vw;
}
#cane_model:focus {
  outline: none;
}

#cad_options {
  position: absolute ;
  top: 0;
  right: 0;
  width: 15vw;
  height: 35vw;
  overflow: hidden;
  border-left: 0.1vw solid #eeeeee;
  background-color: #fdfdfd;
}

#loading_box {
  position: absolute;
  top: 5vw;
  left: 27.5vw;
  transform: translateX(-50%);
  font-family: Nunito;
  font-size: 1.5vw;
  background-color: #464e5e;
  border-radius: 10vw;
  padding: 1vw 1.5vw;
  color: #ffffff;
  transition: opacity 1s;
}

.toggle_container {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.4vw;
  height: 1.5vw;
  border-radius: 10vw;
  background-color: #5EBD9C;
  filter: drop-shadow(.1vw .1vw .3vw rgb(0 0 0 / 0.2));
  cursor: pointer;
  transition: background-color .2s;
}

.toggle_button {
  position: absolute;
  top: .15vw;
  left: .1vw;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  background-color: #ffffff;
  transition: transform .2s;
}

.cad_option {
  position: absolute;
  left: 1vw;
  width: 13vw;
  font-family: Nunito;
  font-size: 1.2vw;
  color: #444444;
}

#auto_rotate {
  top: 3vw;
}

#original_pos {
  top: 8vw;
}

#orbit {
  top: 13vw;
}

#pan {
  top: 18vw;
}

#section1 {
  position: absolute;
  top: 58vw;
  left: 0;
  right: 0;
  background-color: #fafafa;
  height: 42vw;
}

#notebook_frame {
  position: absolute ;
  top: 5vw;
  left: 70vw;
  width: 40vw;
  height: 34vw;
  transform: translateX(-50%) rotate(10deg);
  overflow: hidden;
}

#notebook {
  position: absolute ;
  top: 0;
  left: 10%;
  width: 90%;
  pointer-events: none;
}

#notes_heading {
  position: absolute ;
  top: 8.1vw;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2.5vw;
  font-family: Caveat;
  color: #555555;
}

#notes {
  position: absolute ;
  top: 15.2vw;
  left: 11vw;
  width: 60vw;
  text-align: left;
}

li {
  padding: 0 0 0vw 0.2vw;
  font-family: Caveat;
  font-size: 1.6vw;
  color: #666666;
}

#section1_text {
  position: absolute ;
  top: 10vw;
  left: 18vw;
  width: 34vw;
  text-align: left;
  margin: 0;
}

#cane_animation_foot {
  position: absolute ;
  top: 115vw;
  left: 30vw;
  width: 40vw;
}
