@import url("../../index_style.css");

body {
  margin: 0;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding-top: 2vw;
  overflow: hidden;
}

#section0 {
  position: absolute;
  height: 50vw;
}

#section1 {
  position: absolute;
  top: 52vw;
  height: 50vw;
  background-color: #fafafa;
}

#section2 {
  position: absolute;
  top: 104vw;
  height: 50vw;
}

#section3 {
  position: absolute;
  top: 156vw;
  height: 50vw;
  background-color: #fafafa;
}

#macbook {
  position: absolute;
  top: 17vw;
  left: 10vw;
  width: 80vw;
}
