@import url("../../index_style.css");

body {
  margin: 0;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding-top: 2vw;
  overflow: hidden;
}

#section0 {
  position: absolute;
  height: 60vw;
}

#vc_desk {
  position: absolute;
  left: 22.2vw;
  width: 55.6vw;
  height: 32.9vw;
  top: 18.1vw;
  border: none;
}

#macbook {
  position: absolute;
  top: 15vw;
  left: 10vw;
  width: 80vw;
  user-select: none;
  pointer-events: none;
}

#section1 {
  position: absolute;
  top: 62vw;
  height: 50vw;
  background-color: #fafafa;
}

#section2 {
  position: absolute;
  top: 104vw;
  height: 50vw;
}

#section3 {
  position: absolute;
  top: 156vw;
  height: 50vw;
  background-color: #fafafa;
}
