body {
  margin: 0;
}

#banner_container {
  --bannerWidth: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--bannerWidth);
  height: 56vw;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

#new_img {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--bannerWidth);
  opacity: .2;
  user-select: none;
  pointer-events: none;
  -webkit-user-select: none;
}

#slider_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 73.5%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  animation: sliderInteractionImg 5s infinite;
  -webkit-user-select: none;
}

#old_img {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--bannerWidth);
  user-select: none;
  pointer-events: none;
}

#slider {
  position: absolute;
  top: 0;
  left: 73.5%;
  width: 0;
  height: 100%;
  cursor: col-resize;
  animation: sliderInteraction 5s infinite;
}

#slider_line {
  position: absolute;
  top: 0;
  left: -0.15vw;
  width: 0.3vw;
  height: 100%;
  background-color: #444444;
}

@keyframes sliderInteraction {
  0% {left: 73.5%;}
  6% {left: 71.5%;}
  18% {left: 75.5%;}
  24% {left: 73.5%;}
  100% {left: 73.5%;}
}

@keyframes sliderInteractionImg {
  0% {width: 73.5%;}
  6% {width: 71.5%;}
  18% {width: 75.5%;}
  24% {width: 73.5%;}
  100% {width: 73.5%;}
}

@media only screen and (max-width: 800px) {

  #slider {
    width: 3vw;
    transform: translateX(-50%);
  }

  #slider_line {
    left: 1.35vw;
  }

}
