@import url("../../../index_style.css");

body {
  margin: 0;
  width: 50vw;
}

#vol {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 59vw;
  overflow: hidden;
  background-color: #fafafa;
}

#toolbar_visible {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40%;
  height: 15%;
  background-color: #cccccc;
  border-radius: 1vw 1vw 0 0;
}

#toolbar {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40%;
  height: 15%;
  transform: translateX(-50%);
}

.toolbar_button {
  position: absolute;
  height: 70%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
  cursor: pointer;
}

.toolbar_button_text {
  position: absolute;
  bottom: 140%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #aaaaaa;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.5vw;
  padding: .5vw;
  border-radius: .5vw;
  display: none;
}
.toolbar_button_text:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: .5vw solid transparent;
	border-top-color: #aaaaaa;
	border-bottom: 0;
	margin-left: -.5vw;
	margin-bottom: -.5vw;
}

.user {
  position: absolute;
  top: 2%;
  left: 50%;
  width: 12%;
  height: 14%;
  background-color: #cccccc;
  border-radius: 1vw;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.user_name {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  background-color: #888888;
  font-family: Montserrat;
  font-size: 1.5vw;
  text-align: center;
  padding: .5vw 0;
  opacity: 0;
  transition: opacity .5s;
}

.user_img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  user-select: none;
  pointer-events: none;
}

#user_0 {
  background-color: #CAAA9A;
}

#user_1 {
  background-color: #9BD2C0;
}

#user_2 {
  background-color: #9FBDD5;
}

#user_3 {
  background-color: #F95266;
}

#user_4 {
  background-color: #FDE382;
}

#user_ody {
  left: 60%;
  width: 70%;
}

#user_ach {
  width: 105%;
}

#user_hec {
  width: 105%;
}

#chat_window {
  position: absolute;
  right: 0;
  top: 6vw;
  width: 25vw;
  height: 47vw;
  background-color: #666666;
  border-radius: 1vw 0 0 1vw;
  overflow: hidden;
  transform: translateX(23vw);
  transition: transform .5s;
}

#chat_toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #666666;
  font-family: Montserrat;
  font-size: 1.5vw;
  border-bottom: .2vw solid #aaaaaa;
  color: #ffffff;
  padding: 3% 0 3% 26%;
  transition: opacity .5s;
  opacity: 0;
}

.toggle_container {
  position: absolute;
  right: 1vw;
  top: 50%;
  transform: translateY(-50%);
  height: 2vw;
  width: 3.2vw;
  background-color: #cccccc;
  border-radius: 10vw;
  cursor: pointer;
  transition: background-color .5s;
}

.toggle_button {
  position: absolute;
  left: 0.2vw;
  top: 0.2vw;
  height: 1.6vw;
  width: 1.6vw;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform .5s;
  box-shadow: .2vw .2vw 1vw #aaaaaa;
}

.chat_text {
  position: absolute;
  left: 3vw;
  background-color: #ffffff;
  border-radius: 1vw;
  padding: 1vw;
  color: #444444;
}
.chat_text h1 {
  font-family: MontserratMedium;
  font-weight: bold;
  font-size: 1.5vw;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.3vw;
}
.chat_text p {
  font-family: Montserrat;
  font-size: 1.5vw;
  text-align: left;
  margin: 0;
  line-height: 1.7vw;
}

#chat_text0 {
  top: 5vw;
  width: 15vw;
}

#chat_text1 {
  top: 14vw;
  width: 17vw;
}

#chat_text2 {
  top: 23vw;
  width: 10vw;
}

#chat_text3 {
  top: 30.3vw;
  width: 15vw;
  left: 7vw;
  background-color: #41C38E;
  color: #ffffff;
}
#chat_text3 h1 {
  color: #ffffff;
}
#chat_text3 p {
  color: #ffffff;
}

#textbox {
  position: absolute;
  left: 2vw;
  width: 21vw;
  background-color: #ffffff;
  border-radius: 20vw;
  bottom: 2vw;
  height: 4vw;
  cursor: text;
}

#send{
  position: absolute;
  right: .5vw;
  background-color: #41C38E;
  border-radius: 20vw;
  top: .5vw;
  padding: .6vw 1vw;
  font-family: MontserratMedium;
  font-size: 1.5vw;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

#chat_header {
  position: absolute;
  left: -0.7vw;
  top: 50%;
  transform: rotate(-90deg);
  font-family: MontserratMedium;
  font-size: 1.5vw;
  color: #ffffff;
  user-select: none;
  transition: opacity .5s;
}

#screens_window {
  position: absolute;
  left: 0;
  top: 6vw;
  width: 25vw;
  height: 47vw;
  background-color: #666666;
  border-radius: 0 1vw 1vw 0;
  overflow: hidden;
  transform: translateX(-23vw);
  transition: transform .5s;
}

#screen_toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #666666;
  font-family: Montserrat;
  font-size: 1.5vw;
  border-bottom: .2vw solid #aaaaaa;
  color: #ffffff;
  padding: 3% 3% 3% 22%;
  transition: opacity .5s;
  opacity: 0;
}

#toggle_screen_con {
  right: auto;
  right: 1vw;
}

#screens_header {
  position: absolute;
  right: -1.7vw;
  top: 50%;
  transform: rotate(-90deg);
  font-family: MontserratMedium;
  font-size: 1.5vw;
  color: #ffffff;
  user-select: none;
  transition: opacity .5s;
}

.shared_screen {
  position: absolute;
  left: 3vw;
  width: 19vw;;
  height: 12vw;
  background-color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1vw;
}

#screen_odysseus {
  top: 5vw;
}

#screen_helen {
  top: 19vw;
}

#screen_new {
  top: 33vw;
}
#screen_new img {
  position: absolute;
  top: 17%;
  left: 30%;
  width: 40%;
}

.screen_owner {
  position: absolute;
  font-family: MontserratMedium;
  font-size: 1.5vw;
  background-color: #aaaaaa;
  color: #ffffff;
  padding: .5vw 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  user-select: none;
}

.main_window {
  position: absolute;
  top: 18%;
  left: 16%;
  right: 16%;
  bottom: 17%;
  overflow: hidden;
  border-radius: 1vw;
  display: none;
}

.close_button {
  position: absolute;
  top: 0.6vw;
  left: 1vw;
  width: 1.4vw;
  height: 1.4vw;
  border-radius: 50%;
  background-color: #EE695E;
  cursor: pointer;
}

.close_button_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52%;
  display: none;
}

#main_window_user {
  background-color: #dddddd;
}

#main_user {
  position: absolute;
  bottom: 1%;
  height: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.main_window_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #666666;
  font-family: MontserratMedium;
  font-size: 1.5vw;
  color: #ffffff;
  padding: .3vw;
  text-align: center;
}

#main_window_screen {
  background-color: #dddddd;
}

#main_window_wb {
  box-shadow: .2vw .2vw 1vw #aaaaaa;
}

#main_wb_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
