@import url("../../../index_style.css");

body {
  margin: 0;
}

#slide_frame {
  position: absolute;
  top: 2vw;
  left: 25vw;
  width: 50vw;
  height: calc(9 / 16 * 50vw);
  background-color: #eeeeee;
}

#first_heading {
  position: absolute;
  top: 30%;
  font-family: FreightNeoPro;
  font-size: 2.5vw;
  color: #444444;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

#first_subheading {
  position: absolute;
  top: 65%;
  font-family: FreightNeoPro;
  font-size: 1.5vw;
  color: #888888;
  line-height: 2vw;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
