* {box-sizing: border-box;}

body {
  margin: 0;
}

.slider_container {
  position: relative;
  --height: 450px;
  height: var(--height);
  width: 100vw;
}

.slider_image {
  position: absolute;
  width: auto;
  height: var(--height);
  overflow: hidden;
}

.slider_image img {
  width: 100vw;
  margin-top: calc(var(--height) / -5);
}

.image_slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 3px;
  height: var(--height);
  background-color: #444444;
  border-radius: 0px;
}