@import url("../../index_style.css");

body {
  margin: 0;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding-top: 2vw;
  overflow: hidden;
}

#section0 {
  position: absolute;
  height: 74vw;
}

#sliding_banner {
  position: absolute;
  top: 15vw;
  left: 20vw;
  width: 60vw;
  border: none;
  height: 25vw;
}
