@import url("../../index_style.css");

body {
  height: auto;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding-top: 2vw;
  overflow: hidden;
}

#section0 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  height: 74vw;
}

#screen_frame {
  position: absolute;
  top: 15vw;
  left: 50%;
  width: 70vw;
  height: 57vw;
  transform: translateX(-50%);
  overflow: hidden;
}

#adam1 {
  position: absolute;
  top: 3.5vw;
  left: 50%;
  width: 65vw;
  height: calc((9 / 16) * 65vw);
  transform: translateX(-50%);
  transition: transform .5s;
  border: none;
}

#adam2 {
  position: absolute;
  top: 3.5vw;
  left: 50%;
  width: 65vw;
  height: calc((9 / 16) * 65vw);
  transform: translateX(50%);
  transition: transform .5s;
  border: none;
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#toggle_container {
  position: absolute;
  top: 44.3vw;
  left: 50%;
  width: 22vw;
  height: 4vw;
  transform: translateX(-50%);
  background-color: #5EBD9C;
  border-radius: 10vw;
  transition: background-color .5s;
  user-select: none;
  filter: drop-shadow(.1vw .1vw .3vw rgb(0 0 0 / 0.2));
}

.toggle_stage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Nunito;
  font-size: 1.5vw;
  color: #ffffff;
  cursor: pointer;
}

#toggle_stage1 {
  left: 2vw;
}

#toggle_stage2 {
  right: 2vw;
}

#toggle_button {
  position: absolute;
  top: .4vw;
  height: 3.2vw;
  border-radius: 10vw;
  background-color: #ffffff;
  filter: drop-shadow(.1vw .1vw .3vw rgb(0 0 0 / 0.2));
  font-family: Nunito;
  font-size: 1.5vw;
  color: #444444;
  box-sizing: border-box;
  padding: .6vw 1.6vw;
  cursor: default;
  transform: translateX(.4vw);
  transition: transform .5s;
}

#section1 {
  position: absolute;
  top: 76vw;
  left: 0;
  right: 0;
  background-color: #fafafa;
  height: 52vw;
}

#paper_container {
  position: absolute;
  top: 8vw;
  left: 20vw;
  width: 60vw;
  height: 38vw;
  transform: rotate(-10deg) scale(.2);
  transition: transform .5s;
}

#paper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#paper_sep {
  position: absolute;
  top: 11vw;
  left: 4vw;
  width: 80%;
  height: 1vw;
  background-color: #888888;
}

#background_heading {
  position: absolute;
  top: 0;
  left: 10vw;
  font-size: 5vw;
  color: #666666;
  text-transform: uppercase;
}

#background_text1 {
  position: absolute;
  top: 14vw;
  left: 7vw;
  width: 33%;
  text-align: justify;
  margin: 0;
}

#background_text2 {
  position: absolute;
  top: 14vw;
  right: 10.5vw;
  width: 33%;
  text-align: justify;
  margin: 0;
}

#section2 {
  position: absolute;
  top: 130vw;
  left: 0;
  right: 0;
  background-color: #ffffff;
  height: 34vw;
  padding-top: 7vw;
}

#section2_heading {
  text-align: left;
  margin-left: 58vw;
}

#section2_text {
  text-align: left;
  margin: auto 10vw auto 58vw;
}

#paw {
  position: absolute;
  top: 5vw;
  right: 60vw;
  width: 42vw;
}

.feature {
  position: absolute;
  width: 0;
  overflow: hidden;
  transition: width .5s;
  height: 3vw;
}

.feature_text {
  position: absolute;
  right: 44vw;
  font-family: FreightNeoPro;
  font-size: 1.5vw;
  color: #888888;text-align: right;
  opacity: 0;
  transition: opacity .5s .5s;
}

#feature0 {
  top: 8vw;
  left: 30vw;
  height: 4vw;
}

#feature0_dot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #462e23;
}

#feature0_line {
  position: absolute;
  bottom: .4vw;
  left: .5vw;
  right: 0;
  height: .2vw;
  border-radius: 1vw;
  background-color: #462e23;
}

#feature0_text {
  top: 7.6vw;
}

#feature1 {
  top: 19vw;
  left: 32vw;
}

#feature1_dot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #462e23;
}

#feature1_line {
  position: absolute;
  bottom: .4vw;
  left: .5vw;
  right: 0;
  height: .2vw;
  border-radius: 1vw;
  background-color: #462e23;
}

#feature1_text {
  top: 19.4vw;
  right: 44vw;
}

#feature2 {
  top: 28.3vw;
  left: 29vw;
}

#feature2_dot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #462e23;
}

#feature2_line {
  position: absolute;
  bottom: .4vw;
  left: .5vw;
  right: 0;
  height: .2vw;
  border-radius: 1vw;
  background-color: #462e23;
}

#feature2_text {
  top: 28.7vw;
  right: 44vw;
}

#section3 {
  position: absolute;
  top: 171vw;
  left: 0;
  right: 0;
  background-color: #fafafa;
  height: 45vw;
}

#results {
  position: absolute;
  top: 4vw;
  left: 15vw;
  width: 70vw;
}

#section3_heading {
  position: absolute;
  top: 20vw;
  font-size: 4vw;
  font-family: DKLemonYellowSun;
  left: 50vw;
  transform: translateX(-50%);
}

#section3_text {
  position: absolute;
  top: 30vw;
  left: 24%;
  right: 25%;
  margin: 0;
}

@media only screen and (max-width: 800px) {

  .section {
    padding-top: 4vw;
  }

  #section0 {
    height: 124vw;
  }

  #screen_frame {
    top: 42vw;
    width: 95vw;
    height: 78vw;
  }

  #adam1 {
    top: 4.5vw;
    width: 88vw;
    height: calc((9 / 16) * 88vw);
  }

  #adam2 {
    top: 4.5vw;
    width: 88vw;
    height: calc((9 / 16) * 88vw);
  }

  #toggle_container {
    top: 59.9vw;
    width: 30vw;
    height: 6vw;
  }

  .toggle_stage {
    font-size: 3vw;
  }

  #toggle_stage1 {
    left: 2vw;
  }

  #toggle_stage2 {
    right: 2vw;
  }

  #toggle_button {
    height: 5.2vw;
    font-size: 3vw;
  }

  #section1 {
    top: 128vw;
    height: 79vw;
  }

  #paper_container {
    position: absolute;
    top: 8vw;
    left: 2.5vw;
    width: 95vw;
    height: 60vw;
    transform: rotate(-10deg) scale(.2);
  }

  #paper_container p {
    line-height: 3vw;
    font-size: 3vw;
  }

  #paper_sep {
    top: 18vw;
    left: 6.7vw;
  }

  #background_heading {
    font-size: 9vw;
  }

  #background_text1 {
    top: 21vw;
    width: 37%;
  }

  #background_text2 {
    top: 21vw;
    right: 12.5vw;
    width: 37%;
  }

  #section2 {
    top: 209vw;
    height: 147vw;
    padding-top: 7vw;
  }

  #section2_heading {
    text-align: center;
    margin: auto auto 5vw auto;
  }

  #section2_text {
    text-align: center;
    margin: 57vw 2.5vw 0 2.5vw;
  }

  #paw {
    top: 22vw;
    right: auto;
    left: -5vw;
    width: 65vw;
  }

  .feature_text {
    right: 5vw;
    font-size: 4vw;
  }

  #feature0 {
    top: 30vw;
    left: 46vw;
    height: 4vw;
    width: 18vw;
  }

  #feature0_dot {
    width: 2vw;
    height: 2vw;
  }

  #feature0_line {
    bottom: .8vw;
    right: .5vw;
    left: 0;
    height: .4vw;
  }

  #feature0_text {
    top: 26vw;
  }

  #feature1 {
    top: 47vw;
    left: 44vw;
    width: 35vw;
  }

  #feature1_dot {
    width: 2vw;
    height: 2vw;
  }

  #feature1_line {
    bottom: .8vw;
    right: .5vw;
    left: 0;
    height: .4vw;
  }

  #feature1_text {
    top: 42vw;
    width: 34vw;
    right: 5vw;
  }

  #feature2 {
    top: 62vw;
    left: 38vw;
    width: 37vw;
  }

  #feature2_dot {
    width: 2vw;
    height: 2vw;
  }

  #feature2_line {
    bottom: .8vw;
    right: .5vw;
    left: 0;
    height: .4vw;
  }

  #feature2_text {
    top: 57vw;
    width: 34vw;
    right: 5vw;
  }

  #section3 {
    top: 367vw;
    height: 85vw;
  }

  #results {
    top: 8vw;
    left: 2.5vw;
    width: 95vw;
  }

  #section3_heading {
    top: 25vw;
    font-size: 9vw;
  }

  #section3_text {
    position: absolute;
    top: 45vw;
    left: 12%;
    right: 12%;
  }

}
