@import url("../../index_style.css");

body {
  height: auto;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding-top: 2vw;
  overflow: hidden;
}

#section0 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  height: 74vw;
}

#screen_frame {
  position: absolute ;
  top: 15vw;
  left: 50%;
  width: 70vw;
  height: 57vw;
  transform: translateX(-50%);
  overflow: hidden;
}

#adam1 {
  position: absolute ;
  top: 3.5vw;
  left: 50%;
  width: 65vw;
  height: calc((9 / 16) * 65vw);
  transform: translateX(-50%);
  transition: transform .5s;
  border: none;
}

#adam2 {
  position: absolute ;
  top: 3.5vw;
  left: 50%;
  width: 65vw;
  height: calc((9 / 16) * 65vw);
  transform: translateX(50%);
  transition: transform .5s;
  border: none;
}

#screen {
  position: absolute ;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#toggle_container {
  position: absolute;
  top: 44.3vw;
  left: 50%;
  width: 22vw;
  height: 4vw;
  transform: translateX(-50%);
  background-color: #5EBD9C;
  border-radius: 10vw;
  transition: background-color .5s;
  user-select: none;
  filter: drop-shadow(.1vw .1vw .3vw rgb(0 0 0 / 0.2));
}

.toggle_stage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Nunito;
  font-size: 1.5vw;
  color: #ffffff;
  cursor: pointer;
}

#toggle_stage1 {
  left: 2vw;
}

#toggle_stage2 {
  right: 2vw;
}

#toggle_button {
  position: absolute;
  top: .4vw;
  height: 3.2vw;
  border-radius: 10vw;
  background-color: #ffffff;
  filter: drop-shadow(.1vw .1vw .3vw rgb(0 0 0 / 0.2));
  font-family: Nunito;
  font-size: 1.5vw;
  color: #444444;
  box-sizing: border-box;
  padding: .6vw 1.6vw;
  cursor: default;
  transform: translateX(.4vw);
  transition: transform .5s;
}

#section1 {
  position: absolute;
  top: 76vw;
  left: 0;
  right: 0;
  background-color: #fafafa;
  height: 52vw;
}

#paper_container {
  position: absolute;
  top: 8vw;
  left: 20vw;
  width: 60vw;
  transform: rotate(-10deg) scale(.5);
  transition: transform 1s;
}

#paper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#paper_sep {
  position: absolute;
  top: 11vw;
  left: 4vw;
  width: 80%;
  height: 1vw;
  background-color: #888888;
}

#background_heading {
  position: absolute;
  top: 0;
  left: 10vw;
  font-size: 5vw;
  color: #666666;
  text-transform: uppercase;
}

#background_text1 {
  position: absolute;
  top: 14vw;
  left: 7vw;
  width: 33%;
  text-align: justify;
  margin: 0;
}

#background_text2 {
  position: absolute;
  top: 14vw;
  right: 10.5vw;
  width: 33%;
  text-align: justify;
  margin: 0;
}

#section2 {
  position: absolute;
  top: 130vw;
  left: 0;
  right: 0;
  background-color: #ffffff;
  height: 34vw;
  padding-top: 7vw;
}

#section2_heading {
  text-align: left;
  margin-left: 58vw;
}

#section2_text {
  text-align: left;
  margin: auto 10vw auto 58vw;
}

#paw {
  position: absolute;
  top: 5vw;
  right: 46vw;
  width: 59vw;
}

#section3 {
  position: absolute;
  top: 180vw;
  left: 0;
  right: 0;
  background-color: #fafafa;
  height: 42vw;
}

#results {
  position: absolute;
  top: 20vw;
  left: 15vw;
  width: 70vw;
}
